.options-right .row {
  margin-bottom: 0;
}

.options-right button {
  margin-left: 5px;
}

/* BEGIN enlarge graph */
body, div#view, main, .container, .container.row, .graph-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*main, .container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}*/

/* graph */
#graph {
  min-height: 200px;
  width: 100%;
  flex: 1 0 auto;
}
/* END enlarge graph */
